{% extends 'main.twig' %}


{% block content %}

<div class="fh5co-parallax" style="background-image: url(../images/custom/panama_room.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Contact Us</h1>
						<p>Get in touch with us via Email or Facebook here <a href="https://www.facebook.com/groups/198084320549404/">KLAQVentures.com/services</a></p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-parallax -->
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 animate-box">
					<h3>Our Address</h3>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>5B Perara Rd, Dehiwala-Mount Lavinia, Sri Lanka</li>
						<li><i class="icon-phone2"></i>+94 777 5499 47</li>
						<li><i class="icon-mail"></i><a href="#">services@klaqventures.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.klaqventures.com</a></li>
					</ul>
				</div>
				<form action="" method="post">
				<div class="col-md-8 animate-box">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input name="name" type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input name="email" type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="msg" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div id="map" class="fh5co-map animate-box"></div>
	<!-- END map -->

{% endblock content %}
